@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");


:root {
	--mainColor: white;
	--mainColorLight: white;
	--secondaryColor: #db2b39;
	--textColor: black;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 150px;
	padding: 6rem 8rem;
	background: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}


.dropdownaboutus{
	position: absolute;
	top: 8rem;
}
.dropdownaboutus li {
	list-style: none;
}

@media only screen and (max-width: 1280px) {
	header {
		padding: 1rem;
	}
	.logo {
		width: 100px;
	}
	header .nav-btn {
		visibility: visible;
		opacity: 1;
		--buttonHeight: 32px;
    display: inline-flex;
    align-items: center;
    height: var(--buttonHeight);
    padding: 0 calc(var(--buttonHeight)/2);
    border-radius: calc(var(--buttonHeight)/2);
    background-color: var(--buttonColor);
    color: var(--knockoutColor);
    transition: var(--hoverTransition);
    transition-property: background-color,opacity;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
		z-index: 1;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

	.dropdownaboutus {
		position: absolute;
		top: 37rem;
	}
	
}


